                /*this needs to be cleaned!!!!*/
                /* CSS Reset */
                
                html,
                body,
                div,
                span,
                applet,
                object,
                iframe,
                h1,
                h2,
                h3,
                h4,
                h5,
                h6,
                p,
                blockquote,
                pre,
                a,
                abbr,
                acronym,
                address,
                big,
                cite,
                code,
                del,
                dfn,
                em,
                img,
                ins,
                kbd,
                q,
                s,
                samp,
                small,
                strike,
                strong,
                sub,
                sup,
                tt,
                var,
                b,
                u,
                i,
                center,
                dl,
                dt,
                dd,
                ol,
                ul,
                li,
                fieldset,
                form,
                label,
                legend,
                table,
                caption,
                tbody,
                tfoot,
                thead,
                tr,
                th,
                td,
                article,
                aside,
                canvas,
                details,
                embed,
                figure,
                figcaption,
                footer,
                header,
                hgroup,
                menu,
                nav,
                output,
                ruby,
                section,
                summary,
                time,
                mark,
                audio,
                video {
                    margin: 0;
                    padding: 0;
                    border: 0;
                    font-size: 100%;
                    font: inherit;
                    vertical-align: baseline;
                }
                /* HTML5 display-role reset for older browsers */
                
                article,
                aside,
                details,
                figcaption,
                figure,
                footer,
                header,
                hgroup,
                menu,
                nav,
                section {
                    display: block;
                }
                
                body {
                    line-height: 1;
                }
                
                ol,
                ul {
                    list-style: none;
                }
                
                blockquote,
                q {
                    quotes: none;
                }
                
                blockquote:before,
                blockquote:after,
                q:before,
                q:after {
                    content: '';
                    content: none;
                }
                
                table {
                    border-collapse: collapse;
                    border-spacing: 0;
                }
                
                 :root {
                    --my-blue: #D5EDF6;
                    --my-pink: #EFDAF1;
                }
                /*********************************************************/
                /* My style */
                /*define colors*/
                
                 :root {
                    --my-blue: #D5EDF6;
                    --my-pink: #EFDAF1;
                }
                
                html {
                    height: 100vh;
                }
                
                body {
                    font-family: 'Nunito Sans', sans-serif;
                    height: 100vh;
                }
                /************************************************************/
                /* Navbar*/
                
                .navbar-brand {
                    font-family: 'Bangers';
                    font-size: 3em;
                    background-color: white;
                    padding: 10px;
                    box-shadow: inset 0 0 0 0 black;
                    color: black;
                    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
                }
                
                .navbar-brand:hover {
                    color: white;
                    box-shadow: inset 310px 0 0 0 black;
                }
                
                .navbar {
                    font-family: 'Nunito Sans', sans-serif;
                    background-color: white !important;
                    text-transform: uppercase;
                }
                
                .navbar-nav {
                    background-color: white;
                }
                
                .active-nav-link {
                    color: black;
                    border-top: 1px solid black !important;
                    border-bottom: 1px solid black !important;
                }
                
                .nav-link {
                    transition: all 300ms ease-in-out;
                    border: 1px solid white;
                    margin: 3px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
                
                .nav-link:hover {
                    color: black;
                    border-bottom: 1px solid black;
                    border-top: 1px solid black;
                    border-left: 1px solid white;
                    border-right: 1px solid white;
                }
                
                .active-dropdown {
                    color: black;
                    background-color: #94D1E6;
                }
                
                a.dropdown-item:focus {
                    color: black;
                    background-color: #94D1E6;
                }
                
                i.conticon {
                    padding-right: 5px;
                }
                /****************************************************************/
                /*Accueil*/
                
                .wrapper {
                    font-family: 'Nunito Sans', sans-serif;
                    line-height: 1.5;
                    word-spacing: 4px;
                    letter-spacing: 1px;
                    height: calc(100% - 84px);
                }
                
                .frontLink {
                    color: white;
                    text-decoration: none;
                }
                
                .frontLink:hover {
                    color: white;
                }
                
                .fixed-bg {
                    background-attachment: fixed;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: bottom center;
                    height: 25%;
                    width: 100%;
                    text-align: center;
                    display: table;
                    color: white;
                    text-transform: uppercase;
                }
                
                .large {
                    height: 40% !important;
                }
                
                .small {
                    height: 20% !important;
                }
                
                .scroll-bg {
                    background-color: #0f0f0a;
                    padding: 10px 70px;
                    color: #676767;
                }
                
                .bg-1 {
                    background-image: url('Img/Accueil/GUE.jpg');
                    background-size: contain;
                    background-repeat: repeat;
                    background-position: 25% center;
                    background-position-y: 350px;
                    transition-duration: 1s;
                }
                
                .bg-1 h1 {
                    letter-spacing: 1rem;
                    font-weight: 900;
                    color: #E63D3D;
                    color: white;
                    font-size: 1.5rem;
                }
                
                .bg-2 {
                    background-image: url('Img/Accueil/organ.jpg');
                    /*url('Img/AFFICHE_MISSION-ORGANE_A3_A_V4.jpg');*/
                    background-position: bottom center;
                    transition-duration: 1s;
                }
                
                .bg-3 {
                    background-image: url('Img/Accueil/routine.jpg');
                    background-position: bottom;
                    transition-duration: 1s;
                    /*background-color: #f4941f;*/
                }
                
                .bg-4 {
                    background-image: url('Img/Accueil/issue.jpg');
                    transition-duration: 1s;
                }
                
                .fixed-bg h1 {
                    font-size: 3rem;
                }
                
                .fixed-bg p {
                    font-size: 1rem;
                }
                
                @media screen and (max-width: 650px) {
                    .fixed-bg h1 {
                        font-size: 2rem;
                    }
                    .fixed-bg p {
                        font-size: 0.8rem;
                    }
                }
                
                .bg-text {
                    display: table-cell;
                    vertical-align: middle;
                }
                /*.genre {
                    text-align: left !important;
                }*/
                
                .titreissue {
                    width: 50%;
                }
                
                .titreroutine {
                    width: 25%;
                }
                
                .titreorgane {
                    width: 40%;
                    padding-bottom: 1rem;
                }
                
                .ptitreroutine {
                    color: white;
                }
                
                @media (max-width:992px) {
                    .titreroutine {
                        width: 40%;
                    }
                    .titreissue {
                        width: 70%;
                    }
                    .titreorgane {
                        width: 60%;
                        padding-bottom: 1rem;
                    }
                }
                /*****************************************************************/
                /*Presentation*/
                
                .navbar-padding {
                    padding-top: 84px;
                }
                
                #cf {
                    position: relative;
                    top: -30vh;
                    left: 0;
                }
                
                #cf img {
                    position: absolute;
                    margin: auto;
                    -webkit-transition: opacity 1s ease-in-out;
                    -moz-transition: opacity 1s ease-in-out;
                    -o-transition: opacity 1s ease-in-out;
                    transition: opacity 1s ease-in-out;
                    width: 100%;
                    border: 5px black solid;
                }
                
                #cf img.top:hover {
                    opacity: 0;
                }
                
                .cf2 {
                    align-items: center;
                    margin: auto;
                }
                
                @media (max-width:992px) {}
                
                .pre-h1 {
                    text-align: left;
                    font-weight: bold;
                    font-size: 2rem;
                    letter-spacing: 0.8rem;
                }
                
                .pres-div {
                    padding: 2rem;
                    padding-top: 4rem;
                }
                
                .pre-p {
                    text-align: justify;
                    padding-bottom: 0.5rem;
                }
                
                @media screen and (max-width: 992px) {
                    #cf {
                        position: relative;
                        left: 0;
                        top: 0;
                    }
                    #cf img {
                        position: relative;
                        border: 0;
                    }
                    .pres-div {
                        padding: 20px;
                    }
                }
                /*************************************************************/
                /*Issue de Secours*/
                
                .i1 {
                    min-height: 100vh;
                    background-image: url("Img/Issue/issueback.jpg");
                    background-position-y: -500px;
                    padding: 0;
                }
                
                .issue-titre {
                    margin: auto;
                    margin-top: 100px;
                    width: 80%;
                }
                
                .issue-label {
                    width: 90%;
                    margin-bottom: 50px;
                    margin-top: 50px;
                }
                
                .issue-pitch {
                    background-color: transparent;
                    color: #ebe8e5;
                    width: 80%;
                    padding: 2rem;
                    margin: auto;
                    text-align: justify;
                }
                
                .i2 {
                    min-height: 90vh;
                    background-color: #ebe8e5;
                    padding: 0;
                }
                
                .i3 {
                    min-height: 70vh;
                }
                
                .issue-div {
                    margin: 0;
                    padding: 1rem;
                    padding-top: 50px;
                    padding-bottom: 20px;
                    text-align: justify;
                }
                
                .issue-h1 {
                    font-size: 1.5em;
                    padding-bottom: 1rem;
                }
                
                .issue-p {
                    font-size: 1.1em;
                    margin-bottom: 10px;
                }
                
                .buttonlink {
                    color: black;
                    text-decoration: none;
                }
                
                .buttonlink:hover {
                    color: black;
                    text-decoration: none;
                }
                
                .button-issue {
                    display: inline-block;
                    padding: .75rem 1.25rem;
                    border-radius: 10rem;
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 1rem;
                    letter-spacing: .15rem;
                    transition: all .3s;
                    position: relative;
                    overflow: hidden;
                    z-index: 1;
                    text-decoration: none;
                }
                
                .button-issue::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0%;
                    height: 100%;
                    background-color: #6dbdc4;
                    transition: all .4s;
                    border-radius: 10rem;
                    z-index: -1;
                }
                
                .button-issue::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #1d7a82;
                    border-radius: 10rem;
                    z-index: -2;
                }
                
                .button-issue:hover {
                    color: white;
                }
                
                .button-issue:hover::before {
                    width: 100%;
                }
                
                .issue-pp {
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                }
                
                .nocol {
                    color: black;
                }
                
                .nocol:hover {
                    color: black;
                }
                
                .i4 {
                    min-height: 90vh;
                    background-color: #648190;
                    padding: 0;
                    margin: 0;
                }
                
                .im {
                    position: relative;
                }
                
                .i5 {
                    min-height: 90vh;
                    background-color: #ebe8e5;
                    padding: 0;
                    margin: 0;
                }
                
                .issue-div1 {
                    margin: 0;
                    text-align: justify;
                    color: black;
                    padding-bottom: 2rem;
                }
                
                .subtitle {
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                    text-align: center;
                    color: #ebe8e5;
                }
                
                .imnew {
                    padding: 2rem;
                }
                
                .imnew1 {
                    padding-top: 4rem;
                    width: 60%;
                }
                
                table {
                    margin: 0 auto;
                    /* or margin: 0 auto 0 auto */
                }
                
                td {
                    padding: 2px;
                }
                
                @media (max-width:992px) {
                    .issue-div {
                        padding-left: 3rem;
                        padding-right: 3rem;
                        padding-top: 0;
                        padding-bottom: 0;
                    }
                    .issue-h1 {
                        padding-top: 1rem;
                    }
                }
                /******************************************************************/
                /* ROUTINE*/
                
                .pg1 {
                    min-height: 100vh;
                    background-color: #f4941f;
                    padding: 0;
                    border: 0;
                    margin: 0;
                }
                
                .headdiv {
                    border: 0;
                    margin: 0;
                    padding: 0;
                }
                
                .routine-title {
                    width: 70%;
                    height: auto;
                    padding-bottom: 2rem;
                    margin-top: 100px;
                }
                
                .routine-head {
                    width: 40%;
                    height: auto;
                    border: 0;
                    margin: 0;
                    padding: 0;
                    vertical-align: bottom;
                }
                
                @media (max-width:992px) {
                    .routine-head {
                        width: 40%;
                    }
                    .routine-title {
                        width: 50%;
                        padding-bottom: 3rem;
                    }
                }
                
                @media (max-width:768px) {
                    .routine-head {
                        width: 50%;
                    }
                    .routine-title {
                        width: 60%;
                        padding-bottom: 7rem;
                    }
                }
                
                .pg0 {
                    min-height: 90vh;
                    background-color: rgb(244, 241, 241);
                    padding: 0;
                }
                
                .routine-div {
                    text-align: justify;
                    /*margin: 4rem;*/
                    font-size: 1.1rem;
                    padding: 1rem;
                    padding-top: 2rem;
                }
                
                .routine-p {
                    margin-bottom: 10px;
                }
                
                .begin {
                    font-size: 2rem;
                }
                
                .rout-center {
                    text-align: center;
                    padding: 20px;
                }
                
                .button-routine {
                    display: inline-block;
                    padding: .75rem 1.25rem;
                    border-radius: 10rem;
                    color: white;
                    text-transform: uppercase;
                    font-size: 1rem;
                    letter-spacing: .15rem;
                    transition: all .3s;
                    position: relative;
                    overflow: hidden;
                    z-index: 1;
                    text-decoration: none;
                }
                
                .button-routine::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0%;
                    height: 100%;
                    background-color: #f2bd7c;
                    transition: all .4s;
                    border-radius: 10rem;
                    z-index: -1;
                }
                
                .button-routine::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #f4941f;
                    border-radius: 10rem;
                    z-index: -2;
                }
                
                .button-routine:hover {
                    color: white;
                }
                
                .button-routine:hover::before {
                    width: 100%;
                }
                
                .routine-pp {
                    padding-top: 1rem;
                }
                
                .pg2 {
                    min-height: 90vh;
                    background-color: #f4941f;
                    padding: 0;
                }
                
                .routine-members {
                    padding: 1rem;
                }
                
                @media (max-width:992px) {
                    .routine-members {
                        padding-left: 2rem;
                        padding-right: 2rem;
                    }
                    .routine-div {
                        padding-left: 3rem;
                        padding-right: 3rem;
                    }
                }
                
                .routine-h1 {
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    padding-bottom: 0.5rem;
                }
                
                .routine-h3 {
                    font-size: 1.3rem;
                    text-transform: uppercase;
                    padding-bottom: 0.5rem;
                }
                /******************************************************************/
                /*Guerisons*/
                
                .g1 {
                    min-height: 100vh;
                    padding-top: 84px;
                }
                
                .pad {
                    padding: 20px;
                }
                
                .gue-h1 {
                    font-size: 2em;
                    text-align: center;
                    padding: 10px;
                    text-transform: uppercase;
                }
                
                .gue-p {
                    text-align: justify;
                }
                
                .gue-center {
                    text-align: center;
                    padding: 20px;
                }
                
                .button-51 {
                    background-color: transparent;
                    /*border: 1px solid #266DB6;*/
                    border: 1px solid black;
                    box-sizing: border-box;
                    color: #00132C;
                    font-size: 16px;
                    /*font-weight: 700;*/
                    line-height: 24px;
                    padding: 16px 23px;
                    position: relative;
                    text-decoration: none;
                    user-select: none;
                    -webkit-user-select: none;
                    touch-action: manipulation;
                }
                
                .button-51:hover,
                .button-51:active {
                    outline: 0;
                }
                
                .button-51:hover {
                    background-color: transparent;
                    cursor: pointer;
                }
                
                .button-51:before {
                    background-color: #D5EDF6;
                    content: "";
                    height: calc(100% + 3px);
                    position: absolute;
                    right: -7px;
                    top: -9px;
                    transition: background-color 300ms ease-in;
                    width: 100%;
                    z-index: -1;
                    display: block;
                }
                
                .button-51:hover:before {
                    /* background-color: #6DCFF6;*/
                    background-color: #EFDAF1;
                }
                
                @media (min-width: 768px) {
                    .button-51 {
                        padding: 16px 32px;
                    }
                }
                
                .g2 {
                    min-height: 90vh;
                }
                
                .gue-h2 {
                    text-align: center;
                    font-size: 1.1em;
                    padding: 10px;
                }
                
                .red {
                    color: red;
                }
                
                .iconLink {
                    color: black;
                    padding-left: 10px;
                    padding-right: 10px;
                }
                
                i.grow {
                    transition: all .2s ease-in-out;
                }
                
                i.grow:hover {
                    transform: scale(1.5);
                }
                /*****************************************************************/
                /*MissionOrgane*/
                
                .o1 {
                    min-height: 100vh;
                    background-image: url("Img/Organe/mission3.jpg");
                    background-position-y: -500px;
                    padding: 0;
                }
                
                .mission-title {
                    width: 70%;
                    margin-top: 150px;
                    margin-bottom: 100px;
                }
                
                .mission-label {
                    width: 90%;
                    margin-bottom: 50px;
                    margin-top: 50px;
                }
                
                .o2 {
                    min-height: 90vh;
                    padding: 0;
                    position: relative;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                
                .o2::before {
                    content: "";
                    background-image: url("Img/Organe/mission2.png");
                    background-repeat: repeat;
                    background-size: 33%;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    bottom: 0px;
                    left: 0px;
                    opacity: 0.1;
                }
                
                .mission-div {
                    padding-left: 3rem;
                    padding-right: 3rem;
                    text-align: justify;
                }
                
                .mission-h1 {
                    font-size: 2rem;
                    padding-bottom: 1rem;
                    padding-top: 2rem;
                }
                
                .mission-p {
                    padding-bottom: 1rem;
                }
                
                .o3 {
                    min-height: 90vh;
                    padding: 0;
                    position: relative;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-image: url("Img/Organe/mission3.jpg");
                    background-position-y: -500px;
                    padding: 0;
                    color: white;
                }
                
                .airport {
                    width: 30%;
                    padding-bottom: 1rem;
                    text-align: center !important;
                }
                
                .mission-center {
                    text-align: center;
                }
                /******************************************************************/
                /*Contact*/
                
                .backcont {
                    margin-top: 84px;
                    z-index: 1;
                    height: 90vh;
                    background-color: #f1f5f7;
                }
                
                .contact-form {
                    background-color: transparent;
                    margin: auto;
                    margin-top: 5rem;
                    padding-left: 5rem;
                    padding-right: 5rem;
                    border-radius: 0%;
                    display: flex;
                    flex-direction: column;
                }
                
                .cf-head {
                    text-align: center;
                    padding-bottom: 2rem;
                    padding-top: 2rem;
                    font-size: 1.5rem;
                    color: black;
                    font-weight: bold;
                    letter-spacing: 0.5rem;
                }
                
                .form-group {
                    padding-bottom: 0.5rem;
                }
                
                form {
                    width: 100%;
                    align-items: center;
                }
                
                .mybtn {
                    width: 30%;
                    margin-top: 1rem;
                    background-color: white;
                    border: 0;
                    color: black;
                    border: 1px solid black;
                }
                
                .mybtn:hover {
                    background-color: #94D1E6;
                    ;
                    border: 1px solid black;
                    ;
                    color: black;
                }
                
                .cop {
                    width: 80%;
                    padding-top: 4rem;
                }
                
                .spacer {
                    margin-top: 4rem;
                    margin-bottom: 2rem;
                }
                
                @media (max-width:992px) {
                    .spacer {
                        margin-top: 3rem;
                        margin-bottom: 1rem;
                    }
                    .mybtn {
                        width: 40%;
                    }
                    .contact-form {
                        margin-top: 2rem;
                        padding-left: 2rem;
                        padding-right: 2rem;
                    }
                }
                
                .contact-center {
                    text-align: center;
                    padding: 1rem;
                }
                
                .button-contact {
                    display: inline-block;
                    padding: .75rem 1.25rem;
                    border-radius: 10rem;
                    color: black;
                    font-size: 1rem;
                    transition: all .3s;
                    position: relative;
                    overflow: hidden;
                    z-index: 1;
                    text-decoration: none;
                }
                
                .button-contact::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0%;
                    height: 100%;
                    background-color: #5fbcdb;
                    transition: all .4s;
                    border-radius: 10rem;
                    z-index: -1;
                }
                
                .button-contact::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #94D1E6;
                    border-radius: 10rem;
                    z-index: -2;
                }
                
                .button-contact:hover {
                    color: black;
                }
                
                .button-contact:hover::before {
                    width: 100%;
                }
                /******************************************************************/
                /* automatic switch of images 
                    @keyframes cfFadeInOut {
                    0% {
                    opacity: 1;
                    }
                    45% {
                    opacity: 1;
                    }
                    55% {
                    opacity: 0;
                    }
                    100% {
                    opacity: 0;
                    }
                    }

                    #cf img.top {
                    animation-name: cfFadeInOut;
                    animation-timing-function: ease-in-out;
                    animation-iteration-count: infinite;
                    animation-duration: 10s;
                    animation-direction: alternate;
                    animation-iteration-count: 1;
                    }
                    */
                /* CSS */
                
                .button-55 {
                    align-self: center;
                    background-color: #fff;
                    background-image: none;
                    background-position: 0 90%;
                    background-repeat: repeat no-repeat;
                    background-size: 4px 3px;
                    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
                    border-style: solid;
                    border-width: 2px;
                    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
                    box-sizing: border-box;
                    color: #41403e;
                    cursor: pointer;
                    display: inline-block;
                    font-size: 1rem;
                    line-height: 23px;
                    outline: none;
                    padding: .75rem;
                    text-decoration: none;
                    transition: all 235ms ease-in-out;
                    border-bottom-left-radius: 15px 255px;
                    border-bottom-right-radius: 225px 15px;
                    border-top-left-radius: 255px 15px;
                    border-top-right-radius: 15px 225px;
                    user-select: none;
                    -webkit-user-select: none;
                    touch-action: manipulation;
                    text-decoration: none;
                }
                
                .button-55:hover {
                    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
                    transform: translate3d(0, 2px, 0);
                    color: black;
                }
                
                .button-55:focus {
                    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
                    color: black;
                }