                /*this needs to be cleaned!!!!*/
                /* CSS Reset */
                
                html,
                body,
                div,
                span,
                applet,
                object,
                iframe,
                h1,
                h2,
                h3,
                h4,
                h5,
                h6,
                p,
                blockquote,
                pre,
                a,
                abbr,
                acronym,
                address,
                big,
                cite,
                code,
                del,
                dfn,
                em,
                img,
                ins,
                kbd,
                q,
                s,
                samp,
                small,
                strike,
                strong,
                sub,
                sup,
                tt,
                var,
                b,
                u,
                i,
                center,
                dl,
                dt,
                dd,
                ol,
                ul,
                li,
                fieldset,
                form,
                label,
                legend,
                table,
                caption,
                tbody,
                tfoot,
                thead,
                tr,
                th,
                td,
                article,
                aside,
                canvas,
                details,
                embed,
                figure,
                figcaption,
                footer,
                header,
                hgroup,
                menu,
                nav,
                output,
                ruby,
                section,
                summary,
                time,
                mark,
                audio,
                video {
                    margin: 0;
                    padding: 0;
                    border: 0;
                    font-size: 100%;
                    font: inherit;
                    vertical-align: baseline;
                }
                /* HTML5 display-role reset for older browsers */
                
                article,
                aside,
                details,
                figcaption,
                figure,
                footer,
                header,
                hgroup,
                menu,
                nav,
                section {
                    display: block;
                }
                
                body {
                    line-height: 1;
                    scroll-snap-type: y mandatory;
                }
                
                ol,
                ul {
                    list-style: none;
                }
                
                blockquote,
                q {
                    quotes: none;
                }
                
                blockquote:before,
                blockquote:after,
                q:before,
                q:after {
                    content: '';
                    content: none;
                }
                
                table {
                    border-collapse: collapse;
                    border-spacing: 0;
                }
                
                 :root {
                    --my-blue: #D5EDF6;
                    --my-pink: #EFDAF1;
                }
                /* My style*/
                
                html {
                    height: 100vh;
                    /* overflow: scroll;*/
                    /*scroll-snap-type: y mandatory;*/
                }
                
                body {
                    /*font-family:'Montserrat', sans-serif;*/
                    /*font-family: 'Alegreya Sans', sans-serif;*/
                    font-family: 'Nunito Sans', sans-serif;
                    height: 100vh;
                }
                /* Navbar*/
                
                .navbar-brand {
                    font-family: 'Bangers';
                    font-size: 3em;
                    background-color: white;
                    padding: 10px;
                    box-shadow: inset 0 0 0 0 black;
                    color: black;
                    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
                }
                
                .navbar-brand:hover {
                    color: white;
                    box-shadow: inset 310px 0 0 0 black;
                    /*cursor: default;*/
                }
                
                .navbar {
                    font-family: 'Nunito Sans', sans-serif;
                    /* font-family:'Montserrat', sans-serif;*/
                    /*font-family: 'Alegreya Sans SC', sans-serif;*/
                    background-color: white !important;
                    text-transform: uppercase;
                }
                
                .navbar-nav {
                    background-color: white;
                }
                
                .active-nav-link {
                    color: black;
                    border-top: 1px solid black !important;
                    border-bottom: 1px solid black !important;
                    /*background-color:#D5EDF6;*/
                    /*border-radius:5px;*/
                }
                
                .nav-link {
                    transition: all 300ms ease-in-out;
                    border: 1px solid white;
                    /*border-radius:5px;*/
                    margin: 3px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
                
                .nav-link:hover {
                    color: black;
                    border-bottom: 1px solid black;
                    border-top: 1px solid black;
                    border-left: 1px solid white;
                    border-right: 1px solid white;
                    /*border-radius:5px;*/
                }
                
                .active-dropdown {
                    color: black;
                    background-color: #D5EDF6;
                }
                
                a.dropdown-item:focus {
                    color: black;
                    background-color: #D5EDF6;
                }
                /****************************************************************/
                /*Accueil*/
                
                .wrapper {
                    /*font-family: 'Alegreya Sans SC', sans-serif;*/
                    /*font-family: 'Montserrat', sans-serif;*/
                    font-family: 'Nunito Sans', sans-serif;
                    line-height: 1.5;
                    word-spacing: 4px;
                    letter-spacing: 1px;
                    height: calc(100% - 84px);
                }
                
                .fixed-bg {
                    background-attachment: fixed;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: bottom center;
                    height: 25%;
                    width: 100%;
                    text-align: center;
                    display: table;
                    color: white;
                    text-transform: uppercase;
                }
                
                .large {
                    height: 40% !important;
                }
                
                .small {
                    height: 20% !important;
                }
                
                .scroll-bg {
                    background-color: #0f0f0a;
                    padding: 10px 70px;
                    color: #676767;
                }
                
                .bg-1 {
                    background-image: url('Img/GUE.jpg');
                    background-size: contain;
                    background-repeat: repeat;
                    background-position: 25% center;
                    background-position-y: 350px;
                }
                
                .bg-2 {
                    background-image: url('Img/Organ1.jpg');
                    /*url('Img/AFFICHE_MISSION-ORGANE_A3_A_V4.jpg');*/
                    background-position: bottom center;
                }
                
                .bg-3 {
                    /*background-image: url('Img/AFFICHE_ROUTINE_A3 - origin - police.jpg');
                       background-position: center center;
                    background-position-y: -900px;
                    background-repeat: repeat;*/
                    background-color: #f4941f;
                }
                
                .bg-4 {
                    background-image: url('Img/IssueBack5.png');
                }
                
                .fixed-bg h1 {
                    font-size: 3rem;
                }
                
                .fixed-bg p {
                    font-size: 1rem;
                }
                
                @media screen and (max-width: 650px) {
                    .fixed-bg h1 {
                        font-size: 2rem;
                    }
                    .fixed-bg p {
                        font-size: 0.8rem;
                    }
                }
                
                .bg-text {
                    display: table-cell;
                    vertical-align: middle;
                }
                
                .frontLink {
                    color: white;
                    text-decoration: none;
                }
                
                .frontLink:hover {
                    color: white;
                }
                
                .genre {
                    text-align: left !important;
                }
                /*****************************************************************/
                /*Presentation*/
                
                .cvimg {
                    width: 90%;
                    height: auto;
                    padding: 10px;
                    padding-top: 20px;
                    filter: grayscale(100%);
                }
                
                .cvimg:hover {
                    filter: hue-rotate(180deg);
                    /*filter: sepia(60%);*/
                }
                
                .pres-h1 {
                    font-size: 1.4rem;
                    text-transform: uppercase;
                    padding-bottom: 20px;
                    padding-top: 20px;
                }
                
                .pres-for {
                    font-size: 1.4rem;
                    text-transform: uppercase;
                    padding-bottom: 20px;
                    padding-top: 30px;
                }
                
                .pres-div {
                    padding: 2rem;
                    padding-top: 4rem;
                }
                
                @media screen and (max-width: 992px) {
                    .pres-div {
                        padding: 20px;
                    }
                    .pres-h1 {
                        font-size: 1.3rem;
                    }
                    .pres-for {
                        font-size: 1.3rem;
                    }
                }
                
                .job {
                    background-color: transparent;
                    padding: 0px 15px;
                    width: 100%;
                    max-width: 1000px;
                    display: flex;
                    flex-direction: row;
                    text-align: center;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 0;
                }
                
                .job-date {
                    padding: 10px 10px;
                    border-right: 1px solid lightgrey;
                    border-bottom: 1px solid lightgrey;
                    display: block;
                    font-size: 1em;
                    vertical-align: center;
                    width: 20%;
                }
                
                .job-item {
                    padding: 0 35px;
                    padding-bottom: 10px;
                    padding-top: 10px;
                    border-bottom: 1px solid lightgrey;
                    flex-grow: 1;
                    flex-basis: 0;
                    min-width: 0;
                }
                
                .job-header {
                    font-size: 1em;
                    padding: 5px 0;
                    padding-top: 5px;
                    text-align: left;
                }
                
                .job-features {
                    text-align: left;
                    font-size: 1em;
                }
                
                .job-features-item {
                    font-size: 12px;
                    line-height: 1.5;
                    padding: 5px 0;
                }
                
                @media (max-width:768px) {
                    .job {
                        flex-direction: column;
                    }
                    .job-date {
                        border-right: none;
                        border-bottom: 1px solid lightgrey;
                        width: 100%;
                    }
                    .job-item {
                        margin-bottom: 20px;
                    }
                    .degree:last-child {
                        border-bottom: none;
                    }
                }
                
                .job a {
                    color: black;
                }
                
                .job a:hover {
                    color: var(--color2);
                }
                
                .pre-p {
                    text-align: justify;
                    padding-bottom: 0.5rem;
                }
                /*************************************************************/
                /*Issue de Secours*/
                
                .iss-head {
                    padding-top: 20px;
                    font-family: 'Allerta Stencil', sans-serif;
                    text-align: center;
                    font-size: 5rem;
                    /*color: #2E6171; #606F7D;*/
                    color: #F1F1F0;
                    /*text-shadow: 1px 0px 4px #95CCDD, 2px 0px 4px #95CCDD, 3px 0px 4px #95CCDD, 2px 0px 3px #95CCDD, 2px 3px 15px #95CCDD, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #95CCDD, 40px 0vw 200px #95CCDD;*/
                    /*text-shadow: 1px 0px 4px #ABC4CC, 2px 0px 4px #ABC4CC, 3px 0px 4px #ABC4CC, 2px 0px 3px #ABC4CC, 2px 3px 15px #ABC4CC, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #ABC4CC, 40px 0vw 200px #ABC4CC;*/
                    text-shadow: 1px 0px 4px #606F7D, 2px 0px 4px #606F7D, 3px 0px 4px #606F7D, 2px 0px 3px #606F7D, 2px 3px 15px #606F7D, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #606F7D, 40px 0vw 200px #606F7D;
                }
                
                .fullheight {
                    height: 100vh;
                }
                
                .flicker-slow {
                    animation: flicker 3s linear 5;
                }
                
                .flicker-fast {
                    animation: flicker 1s linear 10;
                }
                
                .subtitle-issue {
                    text-align: center;
                    padding: 20px;
                    font-size: 1.2rem;
                }
                
                .issue-div {
                    margin: 0;
                    padding: 1rem;
                    padding-top: 50px;
                    padding-bottom: 20px;
                    text-align: justify;
                }
                
                .issue-div1 {
                    margin: 0;
                    text-align: justify;
                    color: black;
                    padding-bottom: 2rem;
                }
                
                .issue-h1 {
                    font-size: 1.5em;
                    padding-bottom: 1rem;
                }
                
                .issue-p {
                    font-size: 1.1em;
                    margin-bottom: 10px;
                }
                
                .issue-h3 {
                    font-weight: bold;
                    margin-bottom: 10px;
                    font-size: 1.3em;
                }
                
                table {
                    margin: 0 auto;
                    /* or margin: 0 auto 0 auto */
                }
                
                td {
                    padding: 2px;
                }
                
                .pad1 {
                    padding: 20px;
                    /* position: absolute;*/
                    /*font-family: 'IM Fell English SC', serif;*/
                    font-size: 1em;
                    min-height: 300px;
                }
                
                @media (max-width:992px) {
                    .pad1 {
                        padding-left: 30px;
                        padding-right: 30px;
                    }
                    .iss-head {
                        font-size: 4rem;
                    }
                    .issue-div {
                        padding-top: 0;
                        padding-bottom: 0;
                    }
                    .issue-h1 {
                        padding-top: 1rem;
                    }
                }
                
                .subtitle {
                    padding-top: 0.5rem;
                    text-align: center;
                    color: #ebe8e5;
                }
                /******************************************************************/
                /* ROUTINE*/
                
                .routine-div {
                    text-align: justify;
                    /*margin: 4rem;*/
                    font-size: 1.1rem;
                    padding: 1rem;
                }
                
                .begin {
                    font-size: 2rem;
                }
                
                .routine-p {
                    margin-bottom: 10px;
                }
                
                .routine-h1 {
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    padding-bottom: 0.5rem;
                }
                
                .routine-h3 {
                    font-size: 1.3rem;
                    text-transform: uppercase;
                    padding-bottom: 0.5rem;
                }
                
                .routine-members {
                    padding: 1rem;
                }
                
                @media (max-width:992px) {
                    .tabmem {
                        margin-left: 3rem;
                    }
                }
                /******************************************************************/
                /*Contact*/
                
                .cont-div {
                    display: flex;
                    justify-content: center;
                    padding: 0.5rem;
                    margin: 0.5rem;
                    background-color: var(--my-blue);
                    color: black;
                }
                
                .cont-div-details {
                    padding: 2rem;
                }
                
                .ap {
                    display: flex;
                    justify-content: center;
                    padding: 0.5rem;
                    margin: 0.5rem;
                    background-color: var(--my-blue);
                    color: black;
                    margin: auto;
                }
                
                .ap:hover {
                    background-color: var(--my-pink);
                }
                
                .aplink {
                    text-decoration: none;
                    color: black;
                }
                
                .aplink:hover {
                    color: black;
                }
                
                .circle-wrap {
                    width: 50%;
                    aspect-ratio: 1/1;
                    background-color: var(--my-blue);
                    border-radius: 50%;
                    text-align: center;
                    line-height: 0;
                    position: relative;
                    display: table;
                    transition: all 0.2s 0.2s;
                    margin: auto;
                    margin-top: 5rem;
                    margin-bottom: 5rem;
                }
                
                .circle-wrap:hover {
                    border-radius: 0;
                    background-color: var(--my-pink);
                }
                
                .circle-wrap div {
                    display: table-cell;
                    vertical-align: middle;
                    width: 100%;
                }
                
                .circle-wrap div span {
                    display: block;
                    margin: 2rem;
                }
                
                .circle-wrap div span a {
                    text-decoration: none;
                    color: black;
                }
                
                .cf-head {
                    text-align: center;
                    padding-bottom: 2rem;
                    font-size: 1.5rem;
                    color: black;
                    font-weight: bold;
                    letter-spacing: 0.5rem;
                }
                
                .contact-form {
                    background-color: transparent;
                    margin: auto;
                    margin-top: 5rem;
                    padding-left: 5rem;
                    padding-right: 5rem;
                    border-radius: 0%;
                    max-width: 700px;
                    display: flex;
                    flex-direction: column;
                }
                
                .mybtn {
                    width: 30%;
                    margin-top: 1rem;
                    background-color: white;
                    border: 0;
                    color: black;
                    border: 1px solid black;
                }
                
                .mybtn:hover {
                    background-color: grey;
                    border: 1px solid grey;
                }
                
                form {
                    width: 100%;
                    align-items: center;
                }
                
                .spacer {
                    margin-top: 4rem;
                }
                
                @media (max-width:992px) {
                    .circle-wrap {
                        border-radius: 0;
                        aspect-ratio: 3/1;
                        margin-top: 2rem;
                        margin-bottom: 2rem;
                    }
                    .circle-wrap div span {
                        font-size: 1rem;
                        margin: 2.5rem;
                    }
                    .spacer {
                        margin-top: 1rem;
                    }
                }
                /******************************************************************/
                /*Guerisons*/
                
                .gue-h1 {
                    font-size: 2em;
                    text-align: center;
                    padding: 10px;
                    text-transform: uppercase;
                }
                
                .gue-center {
                    text-align: center;
                    padding: 20px;
                }
                
                .red {
                    color: red;
                }
                
                .iconLink {
                    color: black;
                    padding-left: 10px;
                    padding-right: 10px;
                }
                
                i.grow {
                    transition: all .2s ease-in-out;
                }
                
                i.grow:hover {
                    transform: scale(1.5);
                }
                
                .gue-p {
                    text-align: justify;
                }
                
                .gue-h2 {
                    text-align: center;
                    font-size: 1.1em;
                    padding: 10px;
                }
                
                .pad {
                    padding: 20px;
                }
                
                .pad2 {
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
                
                .imh {
                    position: relative;
                }
                
                .imgop {
                    opacity: 0.2;
                }
                
                i.conticon {
                    padding-right: 5px;
                }
                /* CSS */
                
                .button-51 {
                    background-color: transparent;
                    /*border: 1px solid #266DB6;*/
                    border: 1px solid black;
                    box-sizing: border-box;
                    color: #00132C;
                    font-size: 16px;
                    /*font-weight: 700;*/
                    line-height: 24px;
                    padding: 16px 23px;
                    position: relative;
                    text-decoration: none;
                    user-select: none;
                    -webkit-user-select: none;
                    touch-action: manipulation;
                }
                
                .button-51:hover,
                .button-51:active {
                    outline: 0;
                }
                
                .button-51:hover {
                    background-color: transparent;
                    cursor: pointer;
                }
                
                .button-51:before {
                    background-color: #D5EDF6;
                    content: "";
                    height: calc(100% + 3px);
                    position: absolute;
                    right: -7px;
                    top: -9px;
                    transition: background-color 300ms ease-in;
                    width: 100%;
                    z-index: -1;
                    display: block;
                }
                
                .button-51:hover:before {
                    /* background-color: #6DCFF6;*/
                    background-color: #EFDAF1;
                }
                
                @media (min-width: 768px) {
                    .button-51 {
                        padding: 16px 32px;
                    }
                }
                
                .buttonlink {
                    color: black;
                    text-decoration: none;
                }
                
                .buttonlink:hover {
                    color: black;
                    text-decoration: none;
                }
                
                .object-and-details1 img {
                    display: inline-block;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    overflow: visible;
                }
                
                .nopad {
                    padding: 0;
                }
                /* The typewriter cursor effect */
                
                @keyframes blink-caret {
                    from,
                    to {
                        border-color: transparent
                    }
                    50% {
                        border-color: orange
                    }
                }
                
                .ptype {
                    font-size: 28px;
                    font-weight: bold;
                    width: 400px;
                }
                
                .imageBox {
                    position: relative;
                    float: left;
                }
                
                .imageBox .hoverImg {
                    position: absolute;
                    left: 0;
                    top: 0;
                    display: none;
                }
                
                .imageBox:hover .hoverImg {
                    display: block;
                }
                
                .routine-title {
                    width: 70%;
                    height: auto;
                    padding-bottom: 2rem;
                    margin-top: 100px;
                }
                
                .pg1 {
                    min-height: 100vh;
                    background-color: #f4941f;
                    padding: 0;
                    border: 0;
                    margin: 0;
                }
                
                .routine-head {
                    width: 40%;
                    height: auto;
                    border: 0;
                    margin: 0;
                    padding: 0;
                    vertical-align: bottom;
                }
                
                .headdiv {
                    border: 0;
                    margin: 0;
                    padding: 0;
                }
                
                .pg0 {
                    min-height: 90vh;
                    background-color: rgb(244, 241, 241);
                    padding: 0;
                }
                
                @media (max-width:992px) {
                    .routine-head {
                        width: 40%;
                    }
                    .routine-title {
                        width: 50%;
                        padding-bottom: 3rem;
                    }
                }
                
                @media (max-width:768px) {
                    .routine-head {
                        width: 50%;
                    }
                    .routine-title {
                        width: 60%;
                        padding-bottom: 7rem;
                    }
                }
                
                .pg2 {
                    min-height: 90vh;
                    background-color: #f4941f;
                    padding: 0;
                }
                
                .button-routine {
                    background-color: #f2bd7c;
                    /*border: 1px solid #266DB6;*/
                    border: 1px solid black;
                    box-sizing: border-box;
                    color: #00132C;
                    font-size: 16px;
                    /*font-weight: 700;*/
                    line-height: 24px;
                    padding: 16px 23px;
                    position: relative;
                    text-decoration: none;
                    user-select: none;
                    -webkit-user-select: none;
                    touch-action: manipulation;
                }
                
                .button-routine:hover,
                .button-routine:active {
                    outline: 0;
                }
                
                .button-routine:hover {
                    background-color: #f4941f;
                    cursor: pointer;
                }
                
                .routine-pp {
                    padding-top: 1rem;
                }
                
                .nocol {
                    color: black;
                }
                
                .nocol:hover {
                    color: black;
                }
                
                .o1 {
                    min-height: 100vh;
                    background-image: url("Img/mission3.png");
                    background-position-y: -500px;
                    padding: 0;
                }
                
                .mission-title {
                    width: 70%;
                    margin-top: 150px;
                    margin-bottom: 100px;
                }
                
                .mission-label {
                    width: 90%;
                    margin-bottom: 50px;
                    margin-top: 50px;
                }
                
                .o2 {
                    min-height: 90vh;
                    padding: 0;
                    position: relative;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                
                .o2::before {
                    content: "";
                    background-image: url("Img/mission2.png");
                    background-repeat: repeat;
                    background-size: 33%;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    bottom: 0px;
                    left: 0px;
                    opacity: 0.1;
                }
                
                .mission-div {
                    padding-left: 3rem;
                    padding-right: 3rem;
                    text-align: justify;
                }
                
                .mission-h1 {
                    font-size: 2rem;
                    padding-bottom: 1rem;
                    padding-top: 2rem;
                }
                
                .g1 {
                    min-height: 100vh;
                    padding-top: 84px;
                }
                
                .g2 {
                    min-height: 90vh;
                }
                
                .i1 {
                    min-height: 100vh;
                    background-image: url("Img/issueback.png");
                    background-position-y: -500px;
                    padding: 0;
                }
                
                .issue-pitch {
                    background-color: transparent;
                    color: #ebe8e5;
                    width: 80%;
                    padding: 2rem;
                    margin: auto;
                    text-align: justify;
                }
                
                .issue-titre {
                    margin: auto;
                    margin-top: 100px;
                    width: 80%;
                }
                
                .i2 {
                    min-height: 90vh;
                    background-color: #ebe8e5;
                    padding: 0;
                }
                
                .i3 {
                    min-height: 70vh;
                }
                
                .issue-pp {
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                }
                
                @media (max-width:992px) {
                    .issue-div {
                        padding-left: 4rem;
                        padding-right: 4rem;
                    }
                }
                
                .i4 {
                    min-height: 90vh;
                    background-color: #475b66;
                    padding: 0;
                    margin: 0;
                }
                
                .im {
                    position: relative;
                }
                
                .i5 {
                    min-height: 90vh;
                    background-color: #ebe8e5;
                    padding: 0;
                    margin: 0;
                }
                
                .imnew {
                    padding: 2rem;
                }
                
                .imnew1 {
                    padding-top: 4rem;
                    width: 60%;
                }
                
                #cf {
                    position: relative;
                    top: -30vh;
                    left: 0;
                }
                
                #cf img {
                    position: absolute;
                    margin: auto;
                    -webkit-transition: opacity 1s ease-in-out;
                    -moz-transition: opacity 1s ease-in-out;
                    -o-transition: opacity 1s ease-in-out;
                    transition: opacity 1s ease-in-out;
                    width: 100%;
                    border: 5px black solid;
                }
                
                #cf img.top:hover {
                    opacity: 0;
                }
                
                .pre-h1 {
                    text-align: left;
                    font-weight: bold;
                    font-size: 2rem;
                    letter-spacing: 0.8rem;
                }
                /* automatic switch of images 
                    @keyframes cfFadeInOut {
                    0% {
                    opacity: 1;
                    }
                    45% {
                    opacity: 1;
                    }
                    55% {
                    opacity: 0;
                    }
                    100% {
                    opacity: 0;
                    }
                    }

                    #cf img.top {
                    animation-name: cfFadeInOut;
                    animation-timing-function: ease-in-out;
                    animation-iteration-count: infinite;
                    animation-duration: 10s;
                    animation-direction: alternate;
                    animation-iteration-count: 1;
                    }
                    */
                
                .cf2 {
                    align-items: center;
                    margin: auto;
                }
                
                @media (max-width:992px) {
                    #cf {
                        position: relative;
                        left: 0;
                        top: 0;
                    }
                    #cf img {
                        position: relative;
                        border: 0;
                    }
                }
                
                .button-issue {
                    background-color: #1d7a82;
                    /*border: 1px solid #266DB6;*/
                    box-sizing: border-box;
                    color: #ebe8e5;
                    font-size: 16px;
                    /*font-weight: 700;*/
                    line-height: 24px;
                    padding: 16px 23px;
                    position: relative;
                    text-decoration: none;
                    user-select: none;
                    -webkit-user-select: none;
                    touch-action: manipulation;
                }
                
                .button-issue:hover,
                .button-issue:active {
                    outline: 0;
                }
                
                .button-issue:hover {
                    background-color: #1d7a82;
                    color: #ebe8e5;
                    cursor: pointer;
                    font-size: 20px;
                }
                
                .form-group {
                    padding-bottom: 0.5rem;
                }
                
                .backcont {
                    margin-top: 84px;
                    height: 100vh;
                    background-size: cover;
                }
                
                .cop {
                    width: 80%;
                    padding-top: 4rem;
                }
                
                .titreissue {
                    width: 50%;
                }
                
                .titreroutine {
                    width: 25%;
                }
                
                .titreorgane {
                    width: 40%;
                    padding-bottom: 1rem;
                }
                
                .ptitreroutine {
                    color: black;
                }
                
                @media (max-width:992px) {
                    .titreroutine {
                        width: 40%;
                    }
                    .titreissue {
                        width: 70%;
                    }
                    .titreorgane {
                        width: 60%;
                        padding-bottom: 1rem;
                    }
                }